.header{
    padding: 15px;
    font-weight:700 ;
    text-align: center;
    background-color: rgba(12, 66, 216, 0.938);
    color: white;
}
.span{
    color: gold;
}
small{
    font-weight: 500;
color: black;
}
span{
    font-weight: 800;
}